@import "tailwindcss";

@import "tailwindcss";

  @theme {
  --color-light: #d9ded7;
  --color-mid: #40a0b6;
  --color-dark: #3e706f;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
